@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap');

* {
margin: 0;
padding: 0;
}

:root {
	--main-color: rgb(0,8,20);
	--dark-color: rgb(0,53,102);
	--light-color: rgb(251, 251, 242);
	--accent-color: rgb(255, 195, 0);
}

body {
	background-color: var(--main-color);
	padding-bottom: 5em;
	font-family: sans-serif;
}

h1 {
	color: var(--accent-color);
	font-size: 1.5em;
	font-family: 'Caveat', cursive;
	text-align: left;
}

.header{
	position: -webkit-sticky; /* Safari */
	position: sticky;
	top: 0px;
	right: 0px;
	z-index: 1;
	width: 100%;
	padding: 0.5em;
	background-color: var(--dark-color);
}

.gallery-page {
	padding: 1em;
}

.navigation {
	position: fixed;
	bottom: 0px;
	width: 100%;
	background-color: var(--dark-color);
	padding: 0.8em;
	display: flex;
	justify-content: center;
}

Link, div {
	color: var(--accent-color);
	text-align: center;
	font-family: 'Caveat', cursive;
	font-size: 1.1em;
}

.nav-icons {
	margin: 0.2em;
	color: var(--accent-color);
	font-size: 2em;
}

.nav-icons:hover {
	color: var(--light-color);
}

